@page
@model index.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    .NET Core is used to create server applications 
    that run on Windows, Linux and Mac. It does not currently support 
    creating desktop applications with a user interface. Developers can 
    write applications and libraries in VB.NET, C# and F# in both runtimes.
</p>
